@media all and (min-width: 1367px) and (max-width: 1440px) {
  p{
    font-size: 50px;
  }
  .koleso{
    height: 327.75px;
  }
  .rul{
    top: 98px;
    left: 18.5px;
  }
  .main1{
    width: 148px;
    height: 337px;
  }
  .main2{
    margin-left: 6px;
    width: 148px;
    height: 337px;
  }
  .main3{
    margin-left: 4px;
    width: 148px;
    height: 337px;
  }
  .main4{
    margin-left: 10px;
    width: 148px;
    height: 337px;
  }
  .main5{
    margin-left: 11px;
    width: 148px;
    height: 337px;
  }
  .numbers {
    margin-left: 10%;
  }
  .cards_panel{
    border-top: 26px solid #1D1A1C;
    border-left: 26px solid #1D1A1C;
    border-bottom: 26px solid #1D1A1C;
  }
  .panel{
    height: 375px;
  }
  .main{
    height: 2573.44px;
  }
  .coral{
    height: 327.75px
  }
  .first{
    height: 887.69px;
  }
  .buttons{
    height: 215.44px;
    margin-top: 5%;
  }
  .but_round1{
    border: 9px solid #1D1A1C;
  }
  .but_rec1{
    border: 8.25px solid #1D1A1C;
    border-radius: 20px;
  }
  .but_rec{
    border-radius: 24px;
  }
  .currencies{
    height: 354.87px;
    background-size: 100%;
    margin-top: 54px;
  }
  .f_money{
    height: .75px;
  }
  .but_round1_big{
    border: 25px solid #1D1A1C;
  }
  .fourth{
    margin-top: 10%;
  }
  .fourth1{
    height: 412.03px
  }
  .pedal1 {
    display: flex;
    align-items: stretch;
  }
  .fifth {
    height: 112.5px;
  }
  .fifth1 {
    height: 112.5px;
  }
  .fifth p {
    font-size: 24px;
    line-height: 30px;
  }
  .prize{
    margin-top: -60px;
  }
  .rectangle{
    height: 214px;
    margin-top: -8%;
  }
  .fourth1 {
    height: 382px;
  }
  .third {
    margin-top: 8%;
  }
  #table{
    width: 807.85px;
  }
  #text1{
    left: 24%;
  }
  #yuan{
    font-size: 32.18px;
  }
  #euro{
    margin-top: 21px;
    font-size: 32.18px;
  }
  #dollar{
    font-size: 32.18px;
  }
  #ruble{
    font-size: 32.18px;
    margin-bottom: 42px;
  }
  #prize{
    font-size: 51px;
    margin-left: 1.8%;
  }
  #money{
    font-size: 70px;
  }
  #end{
    font-size: 42.19px;
  }
  @keyframes speed {
    0% {margin-top: -338px}
    50% {margin-top: 342px}
    100% {margin-top: -338px}
  }
}
@media all and (min-width: 1281px) and (max-device-width: 1366px) {
  p{
    font-size: 50px;
  }
  .table{
    width: 96%;
  }
  .rul{
    top: 98px;
    left: 18.5px;
  }
  .main1{
    width: 150px;
    height: 337px;
  }
  .koleso{
    height: 335px;
  }
  .main2{
    margin-left: 4px;
    width: 150px;
    height: 337px;
  }
  .main3{
    width: 150px;
    height: 337px;
  }
  .main4{
    margin-left: 7px;
    width: 150px;
    height: 337px;
  }
  .main5{
    margin-left: 12px;
    width: 150px;
    height: 337px;
  }
  .numbers {
    margin-left: 10%;
  }
  .cards_panel{
    border-top: 26px solid #1D1A1C;
    border-left: 26px solid #1D1A1C;
    border-bottom: 26px solid #1D1A1C;
  }
  .panel{
    height: 375px;
  }
  .main{
    height: 2573.44px;
  }
  .coral{
    height: 335px
  }
  .first{
    height: 887.69px;
  }
  .buttons{
    height: 215.44px;
  }
  .but_round1{
    border: 9px solid #1D1A1C;
  }
  .but_rec1{
    border: 8.25px solid #1D1A1C;
    border-radius: 20px;
  }
  .but_rec{
    border-radius: 24px;
  }
  .currencies{
    height: 354.87px;
    background-size: 100%;
  }
  .f_money{
    height: .75px;
  }
  .but_round1_big{
    border: 25px solid #1D1A1C;
  }
  .fourth{
    margin-top: 10%;
  }
  .fourth1{
    height: 412.03px
  }
  .pedal1 {
    display: flex;
    align-items: stretch;
  }
  .fifth {
    height: 112.5px;
  }
  .fifth1 {
    height: 112.5px;
  }
  .fifth p {
    font-size: 24px;
    line-height: 30px;
  }
  .rectangle{
    height: 178.5px;
  }
  .rectangle1{
    height: 81.56px;
    margin-top: 16px;
  }
  .prize{
    margin-top: -60px;
  }
  #table{
    width: 807.85px;
  }
  #yuan{
    font-size: 32.18px;
  }
  #euro{
    margin-top: 17px;
    font-size: 32.18px;
  }
  #dollar{
    margin-top: 8px;
    font-size: 32.18px;
  }
  #ruble{
    font-size: 32.18px;
    margin-bottom: 57px;
  }
  #prize {
    font-size: 48px;
    margin-left: 2.1%;
  }
  #money{
    font-size: 60px;
  }
  #end{
    font-size: 42.19px;
  }
  @keyframes speed {
    0% {margin-top: -338px}
    50% {margin-top: 342px}
    100% {margin-top: -338px}
  }
}
@media all and (min-width: 1025px) and (max-device-width: 1280px) {
  p{
    font-size: 44px;
  }
  .table{
    width: 96%;
  }
  .koleso{
    height: 291.33px;
  }
  .rul{
    top: 86px;
    left: 16.1px;
  }
  .main1{
    width: 132px;
    height: 300px;
  }
  .main2{
    margin-left: 4px;
    width: 132px;
    height: 300px;
  }
  .main3{
    margin-left: 5px;
    width: 132px;
    height: 300px;
  }
  .main4{
    margin-left: 8px;
    width: 132px;
    height: 300px;
  }
  .main5{
    margin-left: 8px;
    width: 132px;
    height: 300px;
  }
  .cards_panel{
    border-top: 23px solid #1D1A1C;
    border-left: 23px solid #1D1A1C;
    border-bottom: 23px solid #1D1A1C;
  }
  .numbers {
    margin-left: 10%;
  }
  .panel{
    height: 333.33px;
  }
  .main{
    height: 2287.5px;
  }
  .coral{
    height: 291.33px;
  }
  .first{
    height: 781.59px;
  }
  .buttons{
    margin-top: 4.5%;
    height: 191.5px
  }
  .but_round1{
    border: 8.67px solid #1D1A1C;
  }
  .but_rec1{
    border: 7.33px solid #1D1A1C;
    border-radius: 18px;
  }
  .but_rec{
    border-radius: 22px;
  }
  .currencies{
    height: 316px;
    margin-top: 40px;
    background-size: 100%;
  }
  .f_money{
    height: .75px;
  }
  .but_round1_big{
    border: 22.5px solid #1D1A1C;
  }
  .fourth{
    margin-top: 12%;
  }
  .fourth1{
    height: 366.25px
  }
  .pedal1 {
    display: flex;
    align-items: stretch;
  }
  .fifth {
    height: 100px;
  }
  .fifth1 {
    height: 100px;
  }
  .fifth p {
    font-size: 21.33px;
    line-height: 27px;
  }
  .rectangle{
    height: 158.67px;
  }
  .rectangle1{
    margin-top: 14px;
    height: 72.5px;
  }
  .prize{
    margin-top: -60px;
  }
  .card_main {
    width: 16%;
  }
  #table{
    width: 718.09px;
  }
  #text1{
    left: 26%;
  }
  #yuan{
    font-size: 28.6px;
  }
  #euro{
    margin-top: 19px;
    font-size: 28.6px;
  }
  #dollar{
    font-size: 28.6px;
  }
  #ruble{
    font-size: 28.6px;
    margin-bottom: 52px;
  }
  #prize{
    margin-top: 5%;
    font-size: 45.2px;
    margin-left: 1.8%;
  }
  #money{
    font-size: 60px;
  }
  #end{
    font-size: 37.5px;
  }
  @keyframes speed {
    0% {margin-top: -300px}
    50% {margin-top: 304px}
    100% {margin-top: -300px}
  }
}

@media all and (min-width: 835px) and (max-device-width: 1024px) {
  p{
    font-size: 34px;
  }
  .koleso{
    height: 233px;
  }
  .table{
    width: 96%;
  }
  .rul{
    top: 68.5px;
    left: 12.5px;
  }
  .main1{
    width: 106px;
    height: 240px;
  }
  .main2{
    margin-left: 4px;
    width: 106px;
    height: 240px;
  }
  .main3{
    margin-left: 2px;
    width: 106px;
    height: 240px;
  }
  .main4{
    margin-left: 6px;
    width: 106px;
    height: 240px;
  }
  .main5{
    margin-left: 7px;
    width: 106px;
    height: 240px;
  }
  .cards_panel{
    border-top: 19px solid #1D1A1C;
    border-left: 19px solid #1D1A1C;
    border-bottom: 19px solid #1D1A1C;
  }
  .numbers {
    margin-left: 10%;
  }
  .panel{
    height: 266.67px;
  }
  .main{
    height: 1830px;
  }
  .coral{
    padding: 0 25px;
    height: 233px;
  }
  .first{
    height: 625.28px;
  }
  .buttons{
    margin-top: 5%;
    height: 153.2px;
  }
  .but_round1{
    border: 6.93px solid #1D1A1C;
  }
  .but_rec1{
    border: 5.87px solid #1D1A1C;
    border-radius: 14px;
  }
  .but_rec{
    border-radius: 16px;
  }
  .currencies{
    height: 252.8px;
    margin-top: 46px;
    background-size: 100%;
  }
  .f_money{
    height: .75px;
  }
  .but_round1_big{
    border: 18px solid #1D1A1C;
  }
  .fourth{
    margin-top: 18%;
  }
  .fourth1{
    height: 150px
  }
  .pedal1 {
    display: flex;
    align-items: stretch;
  }
  .fifth {
    height: 80px;
  }
  .fifth1 {
    height: 80px;
  }
  .fifth p {
    font-size: 17.07px;
    line-height: 21px;
  }
  .rectangle{
    height: 126.93px;
  }
  .rectangle1{
    height: 58px;
    margin-top: 11px;
  }
  .back{
    border-radius: 8px;
  }
  .prize{
    margin-top: -40px;
  }
  .card_main {
    width: 16%;
  }
  .pedal2{
    height: 155.95px;
  }
  .pedal1{
    height: 293px;
  }
  #table{
    width: 574.47px;
  }
  #text1{
    left: 25%;
  }
  #yuan{
    font-size: 22.88px;
  }
  #euro{
    margin-top: 14px;
    font-size: 22.88px;
  }
  #dollar{
    margin-top: 15px;
    font-size: 22.88px
  }
  #ruble{
    font-size: 22.88px;
    margin-bottom: 72px;
  }
  #prize{
    font-size: 36px;
    margin-left: 2%;
    margin-top: 5%;
  }
  #money{
    font-size: 40px;
  }
  #end{
    font-size: 30px;
    margin-bottom: 20px;
  }
  @keyframes speed {
    0% {margin-top: -238px}
    50% {margin-top: 238px}
    100% {margin-top: -238px}
  }
}

@media all and (min-width: 415px) and (max-device-width: 834px) {
  p{
    font-size: 26px;
  }
  .table{
    width: 96%;
  }
  .koleso{
    height: 190px;
  }
  .rul{
    top: 56.5px;
    left: 10.2px;
  }
  .main1{
    width: 86px;
    height: 196px;
  }
  .main2{
    margin-left: 4px;
    width: 86px;
    height: 196px;
  }
  .main3{
    margin-left: 2px;
    width: 86px;
    height: 196px;
  }
  .main4{
    margin-left: 5px;
    width: 86px;
    height: 196px;
  }
  .main5{
    margin-left: 6px;
    width: 86px;
    height: 196px;
  }
  .cards_panel{
    border-top: 15px solid #1D1A1C;
    border-left: 15px solid #1D1A1C;
    border-bottom: 15px solid #1D1A1C;
  }
  .numbers {
    margin-left: 10%;
  }
  .panel{
    height: 217px;
  }
  .main{
    height: 1490.02px;
  }
  .coral{
    padding: 0 20px;
    height: 190px;
  }
  .first{
    height: 509.29px;
  }
  .buttons{
    height: 124.74px;
    margin-top: 6%;
  }
  .but_round1{
    border: 5.65px solid #1D1A1C;
  }
  .but_rec1{
    border: 4.78px solid #1D1A1C;
    border-radius: 12px;
  }
  .but_rec{
    border-radius: 14px;
  }
  .currencies{
    height: 205.83px;
    margin-top: 44px;
  }
  .f_money{
    height: .75px;
  }
  .but_round1_big{
    border: 14.66px solid #1D1A1C;
  }
  .fourth{
    margin-top: 18%;
  }
  .fourth1{
    height: 124px
  }
  .pedal1 {
    display: flex;
    align-items: stretch;
  }
  .fifth {
    height: 65.16px;
  }
  .fifth1 {
    height: 65.16px;
  }
  .fifth p {
    font-size: 13.9px;
    line-height: 17px;
  }
  .rectangle{
    height: 103.38px;
  }
  .rectangle1{
    height: 47.24px;
    margin-top: 8.6px;
  }
  .prize{
    margin-top: -30px;
  }
  .card_main {
    width: 16%;
  }
  .pedal2{
    height: 126.97px;
  }
  .pedal1{
    height: 238.57px;
  }
  .front1, .front2, .front3, .front4, .back {
    border-radius: 7px;
  }
  #table{
    width: 467.75px;
  }
  #text1{
    top: 5%;
  }
  #yuan{
    font-size: 18.63px;
  }
  #euro{
    margin-top: 13px;
    font-size: 18.63px;
  }
  #dollar{
    margin-top: 13px;
    font-size: 18.63px
  }
  #ruble{
    font-size: 18.63px;
    margin-bottom: 84px;
  }
  #prize{
    font-size: 29.2px;
    margin-top: 5%;
    margin-left: 2.1%;
  }
  #money{
    font-size: 30px;
  }
  #end{
    font-size: 24.43px;
    margin-bottom: 16px;
  }
  @keyframes speed {
    0% {margin-top: -238px}
    50% {margin-top: 238px}
    100% {margin-top: -238px}
  }
}
@media all and (min-width: 321px) and (max-device-width: 414px) {
  p{
    font-size: 16px;
  }
  .table{
    margin-top: 0;
    margin-right: 0;
    width: 66.290vw;
  }
  .rul{
    display: flex;
    top: 32.5px;
    left: 4.5px;
    width: 63.768vw;
    height: 116px;
    overflow: hidden;
  }
  .main1{
    width: 12.319vw;
    height: 116px;
    margin-left: 2px;
  }
  .cur_but{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 205.89px;
    width: 24.053vw;
  }
  .block_speed{
    display: flex;
    height: 218px;
    width: 24.155vw;
  }
  .second{
    display: none;
  }
  .currencies1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 7.870vw;
    height: 205.89px;
  }
  .currencies1 img{
    width: 100%;
  }
  .buttons1{
    width: 9.232vw;
    height: 126.4px;
  }
  .speed{
    margin-left: 0;
    width: 16.483vw;
  }
  .wh1{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    max-width: 414px;
    height: 308.54px;
  }
  .coaster{
    width: 40vw;
  }
  .main2{
    margin-left: 1.5px;
    width: 12.319vw;
    height: 116px;
  }
  .main3{
    margin-left: 0px;
    width: 12.319vw;
    height: 116px;
  }
  .main4{
    margin-left: 2px;
    width: 12.319vw;
    height: 116px;
  }
  .main5{
    margin-left: 4px;
    width: 12.319vw;
    height: 116px;
  }
  .cards_panel{
    display: none;
  }
  .round_max{
    width: 29.659vw;
  }
  .round_min1{
    width: 21.703vw;
  }
  .round_min2{
    width: 21.703vw;
  }
  .numbers {
    margin-left: 0;
    width: 62.213vw;
    height: 122.79px;
  }
  .panel{
    height: 154px;
    justify-content: center;
  }
  .main{
    height: 1550px;
  }
  .coral{
    padding: 0 20px;
    height: 99px;
  }
  .koleso{
    display: flex;
    align-items: center;
    height: 99px;
  }
  .first{
    height: 625.28px;
  }
  .but_round1{
    border: 6.93px solid #1D1A1C;
  }
  .but_rec1{
    border: 5.87px solid #1D1A1C;
    border-radius: 12px;
  }
  .but_rec{
    border-radius: 14px;
  }
  .currencies{
    height: 252.8px;
    margin-top: 46px;
    background-size: 100%;
  }
  .cards2_0{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 136px;
    width: 100vw;
  }
  .cards_panel1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(105,35,13);
    background: linear-gradient(135deg, rgba(105,35,13,1) 0%, rgba(189,152,125,1) 50%, rgba(105,35,13,1) 100%);
    height: 98px;
    width: 59.179vw;
    border: 11px solid #C54C06;
  }
  .first{
    display: none;
  }
  .f_money{
    height: .75px;
  }
  .but_round_big{
    margin-left: 4.348vw;
    margin-right: 4.348vw;
    height: 58.93px;
    width: 14.234vw;
  }
  .third{
    margin-top: 3%;
  }
  .but_round1_big{
    border: 8.62px solid #1D1A1C;
  }
  .arrow1{
    top: 29.2%;
    left: 46.87%;
  }
  .arrow3{
    top: 29.2%;
    left: 46.87%;
  }
  .fourth{
    margin-top: 6%;
  }
  .fourth1{
    width: 66.597vw;
    height: 124px
  }
  .pedal1 {
    display: flex;
    align-items: stretch;
  }
  .fifth {
    height: 32px;
  }
  .fifth1 {
    height: 32px;
    width: 66.775vw;
  }
  .fifth p {
    font-size: 6.9px;
    line-height: 9px;
  }
  .rectangle{
    margin-top: 10%;
    height: 61.04px;
  }
  .wheel{
    width: 74.524vw;
  }
  .rectangle1{
    height: 27.89px;
    margin-top: 8px;
  }
  .back{
    border-radius: 5px;
  }
  .prize{
    margin-top: -40px;
  }
  .card_main {
    width: 14.6%;
  }
  .pedal2{
    height: 155.95px;
  }
  .pedal1{
    height: 140.37px;
  }
  .pedal{
    height: 110.16px;
  }
  .max_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72.007vw;
  }
  .big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 444px;
    width: 24.155vw;
  }
  .large{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    max-width: 414px;
  }
  .sec2{
    margin-top: 7%;
    height: 154.02px;
    max-width: 414px;
    display: flex;
    justify-content: center;
  }
  .sec2:hover ~ .third #money {
    transition: all .3s;
    color: #DB6408;
  }
  .chip1{
    left: 6.2%;
  }
  .chip2{
    top: 59%;
    left: 6.2%;
  }
  #table{
    width: 66.290vw;
  }
  #text1{
    left: 27%;
  }
  #yuan{
    margin-top: 42%;
    font-size: 18.64px
  }
  #euro{
    margin-top: 12px;
    font-size: 18.64px;
  }
  #dollar{
    margin-top: 12px;
    font-size: 18.64px
  }
  #ruble{
    font-size: 18.64px;
    margin-bottom: 85px;
  }
  #prize{
    font-size: 14px;
    margin-left: 3.5%;
    margin-top: 7%;
  }
  #money{
    font-size: 20px;
  }
  #end{
    font-size: 14.37px;
    margin-bottom: 10px;
  }
  @keyframes speed {
    0% {margin-top: 0px}
    50% {margin-top: 82px}
    100% {margin-top: 0px}
  }
}
@media all and (max-device-width: 320px) {
  p{
    font-size: 12px;
  }
  .table{
    margin-top: 0;
    margin-right: 0;
    width: 66.290vw;
  }
  .rul{
    display: flex;
    top: 25.5px;
    left: 4.5px;
    width: 63.768vw;
    height: 89px;
    overflow: hidden;
  }
  .main1{
    width: 12.5vw;
    height: 90px;
    margin-left: 1px;
  }
  .cur_but{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 159.14px;
    width: 24.053vw;
  }
  .block_speed{
    display: flex;
    height: 179px;
    width: 24.155vw;
  }
  .second{
    display: none;
  }
  .currencies1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 7.870vw;
    height: 159.14px;
  }
  .currencies1 img{
    width: 100%;
  }
  .buttons1{
    width: 9.232vw;
    height: 97.7px;
  }
  .speed{
    margin-left: 0;
    width: 16.483vw;
  }
  .wh1{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    max-width: 414px;
    height: 238.48px;
  }
  .coaster{
    width: 40vw;
  }
  .main2{
    margin-left: 1px;
    width: 12.5vw;
    height: 90px;
  }
  .main3{
    margin-left: 0px;
    width: 12.5vw;
    height: 90px;
  }
  .main4{
    margin-left: 2px;
    width: 12.5vw;
    height: 90px;
  }
  .main5{
    margin-left: 3px;
    width: 12.5vw;
    height: 90px;
  }
  .cards_panel{
    display: none;
  }
  .round_max{
    width: 29.659vw;
  }
  .round_min1{
    width: 21.703vw;
  }
  .round_min2{
    width: 21.703vw;
  }
  .numbers {
    margin-left: 0;
    width: 62.213vw;
    height: 122.79px;
  }
  .panel{
    height: 119.03px;
    justify-content: center;
  }
  .main{
    height: 1210px;
  }
  .coral{
    padding: 0 20px;
    height: 77px;
  }
  .koleso{
    display: flex;
    align-items: center;
    height: 77px;
  }
  .first{
    height: 625.28px;
  }
  .but_round1{
    border: 4.36px solid #1D1A1C;
  }
  .but_rec1{
    border: 3.69px solid #1D1A1C;
    border-radius: 8px;
  }
  .but_rec{
    border-radius: 9px;
  }
  .currencies{
    height: 252.8px;
    margin-top: 46px;
    background-size: 100%;
  }
  .cards2_0{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 105px;
    width: 100vw;
  }
  .cards_panel1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(105,35,13);
    background: linear-gradient(135deg, rgba(105,35,13,1) 0%, rgba(189,152,125,1) 50%, rgba(105,35,13,1) 100%);
    height: 77px;
    width: 59.179vw;
    border: 8px solid #C54C06;
  }
  .first{
    display: none;
  }
  .f_money{
    height: .75px;
  }
  .but_round_big{
    margin-left: 4.348vw;
    margin-right: 4.348vw;
    height: 45.55px;
    width: 14.234vw;
  }
  .third{
    margin-top: 3%;
  }
  .but_round1_big{
    border: 6.6px solid #1D1A1C;
  }
  .arrow1{
    top: 29.2%;
    left: 46.87%;
  }
  .arrow3{
    top: 29.2%;
    left: 46.87%;
  }
  .fourth{
    margin-top: 1%;
  }
  .fourth1{
    width: 66.597vw;
    height: 124px
  }
  .pedal1 {
    display: flex;
    align-items: stretch;
  }
  .fifth {
    height: 24.73px;
  }
  .fifth1 {
    height: 24.73px;
    width: 66.616vw;
  }
  .fifth p {
    font-size: 5.33px;
    line-height: 7px;
  }
  .rectangle{
    margin-top: 20%;
    height: 47.18px;
  }
  .wheel{
    width: 74.524vw;
  }
  .rectangle1{
    height: 21.56px;
    margin-top: 6px;
  }
  .back{
    border-radius: 5px;
  }
  .prize{
    margin-top: -40px;
  }
  .card_main {
    width: 15.3%;
  }
  .pedal2{
    height: 155.95px;
  }
  .pedal1{
    height: 140.37px;
  }
  .pedal{
    height: 110.16px;
  }
  .max_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72.007vw;
  }
  .big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 24.155vw;
  }
  .large{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    max-width: 350px;
  }
  .sec2{
    margin-top: 7%;
    height: 119.05px;
    max-width: 414px;
    display: flex;
    justify-content: center;
  }
  .sec2:hover ~ .third #money {
    transition: all .3s;
    color: #DB6408;
  }
  .chip1{
    left: 6.55%;
  }
  .chip2{
    top: 58.8%;
    left: 6.55%;
  }
  #table{
    width: 66.290vw;
  }
  #text1{
    top: 3.5%;
    left: 27%
  }
  #yuan{
    margin-top: 42%;
    font-size: 14.41px
  }
  #euro{
    margin-top: 9px;
    font-size: 14.41px;
  }
  #dollar{
    margin-top: 9px;
    font-size: 14.41px
  }
  #ruble{
    font-size: 14.41px;
    margin-bottom: 99px;
  }
  #prize{
    font-size: 10.8px;
    margin-left: 3.5%;
    margin-top: 7%;
  }
  #money{
    font-size: 13px;
  }
  #end{
    font-size: 14.37px;
    margin-bottom: 10px;
  }
  @keyframes speed {
    0% {margin-top: 0px}
    50% {margin-top: 74px}
    100% {margin-top: 0px}
  }
}
}
}
}
